<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .account{
            width:400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="account">
    <h1 style="text-align: center">注册</h1>
    <form>
        {% for filed in form %}
            {% if filed.name == "code" %}
                <div class="form-group">
                    <label for={{ filed.id_for_label }}>{{ filed.label }}</label>
                    <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"> -->
                    <div class="clearfix">
                    <div class="col-md-6" style="padding-left: 0">{{ filed }}</div>
                    <div class="col-md-6" id="code"><input type="button" class="btn btn-default" value="点击获取验证码"></div>
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label for={{ filed.id_for_label }}>{{ filed.label }}</label>
                    {{ filed }}
                </div>
            {% endif %}
        {% endfor %}
      <button type="submit" class="btn btn-primary">注册</button>
    </form>

</div>
<script>
    document.getElementById("code").onclick = ajaxRequest;
    function ajaxRequest() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/app01/send/sms/?tpl=register", true);
        xhr.send();
        xhr.onreadystatechange = function () {
            if (xhr.readyState===4 && xhr.status===200){
            }
        }
    }
</script>
</body>
</html>